html{
    width: 100vw;
    height: 100vh;
    body{
        background-color: #C5EBAA;
        font-family: Montserrat;
    }

}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fafad2;

    
    .logo-container{
        display: flex;
        font-size: 2rem ;
        align-items: center;

        .logo{
            width: 3rem;
    
        }
        .logo-title{
            color: #1ABE27;
        }
    }

    .redirect-links {
        display: flex;
        list-style-type: none;
        text-decoration: none;
        flex-direction: row;
        gap: 1.5rem;
        
        a{
            color: #1ABE27;
            text-decoration: none;
        }
    }

}

.first-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 3rem;
    margin-top: 4rem;
    .first-section-container{
        display: flex;
        flex-direction: column;
        gap: 4rem;
        height: 100%;
   
   
    .first-part{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 50%;
        gap: 2rem;
        align-self: center;
        text-align: start;
        h1{
            font-size: 2.5rem;
        }
        h4{
            font-size: 1.5rem;
        }
        p{
            font-size: 1rem;
        }
    }

    .second-part{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 50%;
        gap: 2rem;
        align-self: center;
        text-align: start;

        h1{
            font-size: 2rem;
        }
        h4{
            font-size: 1.5rem;
        }
        p{
            font-size: 1rem;
        }

      ul{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        li{
            list-style: circle;
        }
      }  
    }
   
   
   
   
   
   
    }


}
